__pycache__/
covee/
*.egg-info/
.vscode/
*.pyc
*.bak
*.orig
*.tmp
*.testing
*~
__pycache__
.idea
.vscode
csv_files/*.csv
*.idea
*.vscode/
*.ipynb_checkpoints/
csv_files/results/
plots/
powerflow/powerflow
pv_centralized/covee
venv_ext

